html {
	box-sizing: border-box;
}

*,
:before,
:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: .5em;
}

.container {
    margin: 2em auto;
    max-width: 1000px;
}

.task {
    font-size: 4em;
	font-weight: normal;
    line-height: 1.2;
    text-align: center;
}

.task p {
    font-size: 3rem;
}

#power {
    background: transparent;
    border: none;
    border-bottom: 2px solid #242424;
    font-family: inherit;
    font-size: 1.5rem;
    padding-bottom: .1em;
    text-align: center;
    vertical-align: top;
    width: 3rem;
}

#solution {
    background: #f8f8f8;
    border: 1px solid #ccc;
    font-size: 1.5rem;
    padding: 1em;
}
